<div class="container">
  <h1>Angular Color Picker Directive</h1>
  <h4>A Color Picker Directive for Angular with no dependencies.</h4>
  <h4><b>based on angular2-color-picker by Alberto Pujante</b></h4>

  <hr>

  <div class="row">
    <div class="col-md-5">
      <input #ignoredInput
             [style.background]="color12"
             [cpDialogDisplay]="'inline'"
             [cpAlphaChannel]="'always'"
             [cpIgnoredElements]="[ignoredButton, ignoredInput]"
             [(cpToggle)]="toggle"
             [cpOutputFormat]="'rgba'"
             [cpSaveClickOutside]="false"

             [(colorPicker)]="color12"

             [cpOKButton]="true"
             [cpOKButtonClass]="'ab-btn ab-btn-exsm ab-btn-success'"
             [cpOKButtonText]="'确定'"

             [cpCancelButton]="true"
             [cpCancelButtonClass]="'ab-btn ab-btn-exsm ab-text-muted'"
             [cpCancelButtonText]="'清空'"
      />

      <div class="clearfix"></div>

      <button #ignoredButton class="btn btn-primary" (click)="toggle=!toggle;">Toggle</button>

    </div>

  </div>

  <hr>
  <br>
</div>
